*{
	text-decoration:none
}

html{
	position: relative;
	min-height:100%
}

.history-container{
	margin-bottom:100px;
}

.mdui-btn{
	color:#64B5F6 !important;
	font-weight:bold
}

.button:hover{
	box-shadow:0px 2px 3px 0 rgb(0 0 0 / 20%)!important
}

.mdui-bottom-nav{
    	height: 96px;
	box-shadow:0px 2px -3px 0 rgb(0 0 0 / 20%)!important
}

.history-box{
	margin: 0px 0px 0px 2%;
	display: inline-block;
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis
}

.footer{
	font-size:15px;
	width: 100%;
	height:100px;
        position: absolute;
        bottom: 0 !important;
}

.copyright{
	text-align:center
}
